/*This file is a LESS file with a CSS extesion for markup - sorry for the inconvenience*/
/*COLORS*/
html,
body {
  min-width: 430px;
}
.sidebar-nav {
  padding: 9px 0;
}
.span12 {
  margin-left: 0;
}
.container {
  background: rgba(64, 64, 64, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
body {
  background-image: url("../img/background_compo.jpg");
  background-repeat: repeat;
  background-color: #FFFFFF;
  background-position: 0px 30px;
}
.header-inner {
  /*     min-height: 20px; */

  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #E8E8E8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.content-box {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  background-color: white;
  padding: 12px;
}
.formtweet {
  margin: 5px;
}
.tweet {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #F5FFF3;
  border: 1px solid #d6d6d6;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.tweet p {
  color: #333;
  font-size: 16px;
  line-height: 18px;
  word-wrap: break-word;
}
.tweet p a {
  text-decoration: none;
}
.tweet p a:hover {
  border-width: 1px;
}
.tweet-info {
  text-align: right;
}
.tweetslist {
  margin: 15px;
}
.header-inner {
  margin-top: 20px;
}
.user-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 979px) {
  .user-box {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .main-box {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .header-inner {
    margin-top: 60px;
  }
}
.main-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.user-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.user-box #button {
  float: left;
  width: 80px;
}
.user-box #counter {
  margin-left: 225px;
  width: 40px;
}
#id_text {
  /*    width: 250px; 

    height: 76px; 
    padding:8px;
    padding-bottom: 5px;
    resize:none;
    color: #2E4158;
    font-size:12px;
    font-family:Arial;*/

  /*     outline:none; */

  resize: none;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #666;
  font-size: 14px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin: 5px 0px 10px 0px;
  padding: 10px;
  height: 76px;
  width: 250px;
  border: #999 1px solid;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}
#id_text:focus {
  color: #000;
  outline: none;
  border: #35a5e5 1px solid;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-shadow: 0 0 5px #51cbee;
  -webkit-box-shadow: 0 0 5px #51cbee;
  -moz-box-shadow: 0 0 5px #51cbee;
}
@media (min-width: 768px) and (max-width: 979px) {
  #id_text {
    width: 170px;
  }
  .user-box #counter {
    margin-left: 150px;
    width: 40px;
  }
}
#id_updatetweet {
  width: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 56px;
  padding-bottom: 5px;
}
.form-lang {
  margin: 0;
}
#slider_ai .ui-slider-handle,
#slider_mi .ui-slider-handle,
#slider_pi .ui-slider-handle {
  border-color: #081A33;
  background: #2885FF;
}
#slider_ai,
#slider_mi,
#slider_pi {
  background: #FFF1E2;
}
.control-label {
  font-weight: bold;
}
.slider {
  width: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  float: left;
}
#id_activity_interval,
#id_mail_interval,
#id_publish_interval {
  width: 100px;
}
/*! TwitterFrieds v0.1 | Autor: Jhean Ceballos: @shogoki_vnz 
is released under the MIT License <http://www.opensource.org/licenses/mit-license.php*/
#twitterUsers {
  position: absolute;
  /*         overflow: hidden; */

  display: none;
  border: solid 2px #E9F1FF;
  background-color: white;
  color: #004363;
  height: 400px;
  margin-top: 244px;
  overflow-y: scroll;
}
#twitterUsers .info {
  height: 24px;
  margin: 0 0 5px 0;
  cursor: pointer;
}
#twitterUsers .selected {
  color: black;
  background-color: #D1E8FF;
}
#twitterUsers .info:hover {
  color: black;
  background-color: #B5C4FF;
}
#twitterUsers .info img {
  float: left;
  margin: 0px 3px 0 0 !important;
}
#twitterUsers .info p {
  margin: 0;
  padding-top: 5px;
  text-align: left;
}
.main-box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #062D00;
}
.row-home-steps {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 10px;
  /*    margin-left:50px;
    margin-right:50px;*/

  background-color: #D4E4CF;
  font-size: 14px;
  /*     border:1px solid green; */

  padding: 15px;
}
.row-home-steps-text {
  padding: 20px;
  /*     width:70%; */

  /*     float:left; */

  /*     border:1px solid red; */

}
.row-home-steps-button {
  text-align: center;
  padding-top: 40px;
  /*     border:1px solid blue; */

  /*     width:25%; */

  /*     margin-left:75%; */

}
@media (max-width: 768px) {
  .row-home-steps-button {
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
.home-initial-text {
  padding: 20px;
}
.contact-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.clear {
  clear: both;
}
.footer-box {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #F5FFF3;
  text-align: center;
  border: 1px solid #d6d6d6;
}
.footer-box:hover a {
  color: #4D8765;
}
.footer-box a {
  color: #87AA92;
  margin-left: 15px;
}
