    {% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="Project name" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>
        About text
    </div>

    {% include "footer.html" %}

{% endblock %}