{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Project name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content='{% trans "Description" %}'>
    <meta name="author" content="">
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'/>

    {% block meta %}{% endblock %}

    <!-- Less styles -->
    <link href="/static/css/flags.css" rel="stylesheet">

    {% block css %}{% endblock %}

    {% if DEBUG %}
        <link rel="stylesheet/less" type="text/css" href="/static/css/less/bootstrap.less">
        <link rel="stylesheet/less" type="text/css" href="/static/css/less/responsive.less">
        <link rel="stylesheet/less" type="text/css" href="/static/css/lessless.css">
        <script src="/static/js/less.js" type="text/javascript"></script>
    {% else %}
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/final.css" rel="stylesheet">-->
    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Google analitycs -->
    <!-- INSERT HERE THE CODE -->
    <!-- Google analitycs -->

    {% block head %}{% endblock %}
    
  </head>

    <body>
    {% load extras %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Project name</a>
            <ul class="nav">
              <li class="{% add_active request 'home' %}"><a href="/">{% trans "Home" %}</a></li>
              <li class="{% add_active request 'contact' %}"><a href="/contact">{% trans "Contact" %}</a></li>
            </ul>

            <ul class="nav pull-right">
              <li class="divider-vertical"></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Languages" %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for lang in LANGUAGES %}
                    <form class="form-lang" name="setLang{{ lang.1 }}" action="{% url 'set_language' %}" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}" />
                        <input type="hidden" name="language" value="{{ lang.0 }}" />
                        
                        <li>
                            <a rel="nofollow" onclick="document.setLang{{ lang.1 }}.submit();return false;">
                            <img src="/static/img/blank.gif" class="flag flag-{{ lang.0 }}" alt="{{ lang.1 }}" /> {{ lang.1 }}</a>
                        </li>
                    </form>
                  {% endfor %}    
                </ul>
              </li>
          
            {% if user.is_authenticated %}
            <li class="divider-vertical"></li>

            {% if profile.photo %}    
                <li>
                    <img width="40" class="logo" src="{{ profile.photo }}"/>
                </li>
            {% endif %}

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else %}        
                        {{ user.username}}
                    {% endif %}        
                    <b class="caret"></b>
                </a> 
                <ul class="dropdown-menu">
                    <li><a href="/accounts/password/change/">{% trans "Password change" %}</a></li>
                    <li><a rel="nofollow" href="/logout"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
                </ul>
              </li>
            </ul>
            {% else %}
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Login" %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/accounts/login">{% trans "Login" %}</a></li>
                    <li><a href="{% url "socialauth_begin" 'twitter' %}">{% trans "Login with twitter" %}</a></li>
                    <li><a href="{% url "socialauth_begin" 'facebook' %}">{% trans "Login with facebook" %}</a></li>
                    <li><a href="/accounts/register">{% trans "Sign up" %}</a></li>
                    <li><a href="/accounts/password/reset/">{% trans "Password reset" %}</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
            {% block content %}{% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    {% block script %}{% endblock %}

  </body>
</html>
