{% extends "base.html" %}

{% load extras %}
{% load i18n %}


{% block content %}

    <div class='header-inner'>
        <h2>{% trans 'Settings' %}</h2>
    </div>

<div class='content-box'>
    {% if saved %}
        <div class="alert alert-success">
        {% trans "Settings saved" %}
        </div>
    {% endif %}

    {% if not user.configured %}
        <div class="alert alert-error">
        {% trans "You need to configure the application" %}
        </div>
    {% endif %}
        <form action="/config/" method="post" class="form-horizontal"> 

        {% csrf_token %}
        {{ form.non_field_errors }}

            <div class="control-group">
            <label class="control-label" for="email">{% trans 'Email' %}</label>
            <div class="controls">
                {{ form.email }}
                <p class="help-block">
                    {% trans 'We need your email.' %}<br/>
                </p>
                {{ form.email.errors }}
            </div>
            </div>

            <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
