{% extends "base.html" %}
{% load url from future %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://browserid.org/include.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div class='main-box'>
  <h3>User data:</h3>
  <table>
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Photo:</th> <td>{{ profile.photo|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
    <tr class="even"><th>Counter:</th> <td>{{ profile.counter }}</td></tr>
    <tr class="even"><th>Backend:</th> <td>{{ backend }}</td></tr>
  </table>

    <div>
    <a rel="nofollow" class="logout" href="/logout/">Logout</a>
    </div>

</div>
{% endblock %} 
