{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block css %}<link href="/static/css/socialite.css" rel="stylesheet">{% endblock %}

{% block script %}
    <script src="/static/js/socialite.min.js"></script>

    <script type="text/javascript">
    //<![CDATA[
        $(document).ready(function(){
            Socialite.load();
        });
    //]]>
    </script>
{% endblock %}

{% block content %}

    <div class='main-box'>
        <div class='home-initial-text'>
        
        <h1>{% trans "Django application template" %}</h1>
        By <a href="http://twitter.com/eduherraiz">@eduherraiz</a>
        
        </div>

        <div id="social">
            <ul class="social-buttons cf">
                <li><a class="socialite twitter" 
                                data-text="{% trans 'Text for share on twitter' %}" 
                                href="http://twitter.com/share"
                                data-count="vertical"
                                data-hastags="projecturl"
                                rel="nofollow"
                                target="_blank"
                                data-url="http://projecturl.com/">{% trans "Share on" %} Twitter</a>
                </li>
                <li><a href="https://plus.google.com/share?url=http://projecturl.com/" 
                                class="socialite googleplus" 
                                data-size="tall" 
                                data-href="http://projecturl.com/" 
                                rel="nofollow" 
                                target="_blank"><span>{% trans "Share on" %} Google+</span></a>
                </li>
                <li><a href="http://www.facebook.com/sharer.php?u=http://projecturl.com/" 
                                class="socialite facebook" 
                                data-href="http://projecturl.com/" 
                                data-send="false" 
                                data-layout="box_count" 
                                data-width="60" 
                                data-show-faces="false"
                                rel="nofollow" 
                                target="_blank"><span>{% trans "Share on" %} Facebook</span></a></li>
            </ul>
        </div>
    
    </div>

    {% include "footer.html" %}

{% endblock %}