{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

        <p>No se ha podido activar su cuenta, el código de activación es: {{ activation_key }}</p>
    
    </div>

    {% include "footer.html" %}

{% endblock %}