{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Entrar" />
    </form>
    
    </div>

    {% include "footer.html" %}

{% endblock %}