{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

        <h1>{% trans "Password reset" %}</h1>

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

        <form action="" method="post">
                {% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
        </form>


    </div>

    {% include "footer.html" %}

{% endblock %}