{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

        <h1>{% trans 'Password change successful' %}</h1>
        <p>{% trans 'Your password was changed.' %}</p>

    </div>

    {% include "footer.html" %}

{% endblock %}