{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

    {% if sended %}
        <div class="alert alert-success">
        {% trans "Message sent, we'll try to reply as soon as possible to the your email address:" %} <b>{{ from_email }}</b>
        </div>
    {% elif failed  %}
        <div class="alert alert-alert">
        {% trans "Message unsent. Form errors, correct the fields and try again." %}
        </div>
    {% endif %}

        <div class='contact-form'>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="control-group">
                <label class="control-label" for="username">{{form.username.label}}</label>
                <div class="controls">
                    {{ form.username }}
                    <p class="help-block"></p>
                    {% if form.username.errors %}
                        <div class="alert alert-error">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                </div>

                <div class="control-group">
                <label class="control-label" for="email">{{form.email.label}}</label>
                <div class="controls">
                    {{ form.email }}
                    <p class="help-block"></p>
                    {% if form.email.errors %}
                        <div class="alert alert-error">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                </div>

                <div class="control-group">
                <label class="control-label" for="password1">{{form.password1.label}}</label>
                <div class="controls">
                    {{ form.password1 }}
                    <p class="help-block"></p>
                    {% if form.password1.errors %}
                        <div class="alert alert-error">
                            {{ form.password1.errors }}
                        </div>
                    {% endif %}
                </div>
                </div>

                <div class="control-group">
                <label class="control-label" for="password2">{{form.password2.label}}</label>
                <div class="controls">
                    {{ form.password2 }}
                    <p class="help-block"></p>
                    {% if form.password2.errors %}
                        <div class="alert alert-error">
                            {{ form.password2.errors }}
                        </div>
                    {% endif %}
                </div>
                </div>

                <input type="submit" value="{% trans "Register" %}" />
            </form>
        </div>
    </div>

    {% include "footer.html" %}

{% endblock %}