{% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/static/img/icon.jpg" />
  <meta property="og:site_name" content="" />
{% endblock %}

{% block content %}

    <div class='main-box'>

    <p>Se ha registrado correctamente,
       se le ha enviado un correo con una url para activar su cuenta.</p>
    </div>

    {% include "footer.html" %}

{% endblock %}